

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face{
  font-family: 'fontello';
  src: url('../../../fonts/fontello.eot?78698704');
  src: url('../../../fonts/fontello.eot?78698704#iefix') format('embedded-opentype'),
	   url('../../../fonts/fontello.woff?78698704') format('woff'),
	   url('../../../fonts/fontello.ttf?78698704') format('truetype'),
	   url('../../../fonts/fontello.svg?78698704#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


.custom-icon
{
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;

      display: inline-block;
      text-decoration: inherit;
      width: 0.6em;
      margin-right: .1em;
      text-align: center;
      /* opacity: .8; */

      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;

      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;

      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      /*margin-left: .2em;*/

      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */

      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	  text-transform: none;
	  top: 2px;
	  position:relative;
}

body{
	background: #5B008A;
	color:#FFFFFF;
	padding-top: 30px;
	padding-bottom: 20px;
}

hr{
	border:0px;
	margin:5px 0px;
	color: #EEE;
	background-color: #EEE;
	height: 2px;
}

.alert.alert-fy{
	background-color:#EADAF7;
	color:#A187B9;
	border-color:#A187B9;
}

.sep{
	clear:both;
	width:100%;
}

.small-font{
	font-size:12px;
	line-height:14px;
}

.no-float{
	float:none;
}

.width-100{
	width:100%;
}

.mb10{
	margin-bottom:10px;
}

.m10{
	margin:10px;
}

.transparent-button{
	background:transparent;
	border-color:#FFFFFF;
	text-shadow:none;
	color:#FFF;
}

.transparent-button:hover{
	background:transparent;
	color:#EEE;
	border-color:#EEE;
}

.rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form{color:#333;}


/* Login */
.login #logo-container{
	padding:40px 0px 60px;
}

.login #logo-container h1{
	font-size:46px;
}

.login .btn{
	font-size:17px;
	text-shadow:none;
	padding:10px;
}

body.home{
	background:#FFF;
	padding-top:60px;
}

body.home #main{
	padding-top:20px;
	color:#333;
}


/*Login form*/
.login-form #logo-container,.register-form #logo-container{
	padding:10px 0px 10px;
}

.login-form #logo-container h1{
	font-size:36px;
}

.login-form .form-group{
	margin-bottom:10px;
}

.login-form .btn-facebook{
	margin-bottom:20px;
}

#login-form{
	padding:20px 20px 10px;
	background:#FFF;
}

/* navigation */
.alarm{
	background: #f05a23 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    line-height: 17px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 18px;
}

.nav-icons a:hover{
	text-decoration:none;
}

.nav-icons a:last-child {
	padding-right:0px;
}

.navbar-inverse{
	background-color:#F0E8F7;
	border-bottom:none;
}

.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand:hover{
   color:#5B008A;
}

.navbar-inverse .navbar-toggle,.navbar-inverse .navbar-toggle:hover {
    border: none;
	background-color:transparent;
}

.nav-icons{
	float:right;
	padding: 15px;
}

.nav-icons a{
	padding:15px 8px;
	line-height:20px;
	color:#5B008A;
	position:relative;
}

ul#home-menu{
	margin-top:20px;
}

ul#home-menu li i{
	color:#29ABE1;
	font-size:20px;
	float:left;
	padding:0px 10px 0px 0px;
}

ul#home-menu li{
	background:#f7f7f7;
	border-top:2px solid #f2f2f2;
	position:relative;
}

ul#home-menu li .badge{
	position: absolute;
    right: 15px;
    top: 10px;
}


ul#home-menu li .rewards{
	position: absolute;
    right: 60px;
    top: 10px;
}


ul#home-menu li .trophy i{
	color: #fff;
    font-size: 20px;
    padding-top: 6px;
	float:none;
	padding-right:0px;
}

ul#home-menu ul li.destacado{
	background:#FBEFEC;
	color:#F05A23;
	font-weight:700;
}

ul#home-menu li ul li{
	background:#fff;
	padding:10px;
	position:relative;
}

ul#home-menu li ul{
	padding-left:0px;
	list-style:none;
}



ul#home-menu .plus{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #29abe1 none repeat scroll 0 0;
    height: 30px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 30px;
	right:15px;
}

ul#home-menu .plus  i{
	color: #fff;
    font-size: 12px;
    left: 9px;
    padding-right: 0;
    top: 8px;
}

ul#home-menu li.open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
	  padding:0px;
}

ul#home-menu li span{
	line-height:10px;
}

/* register form */

#register-form{
	padding:30px 20px 30px;
	background:#FFF;
}

/* social buttons */
.btn-facebook{
	background:#3B5998;
	color:#FFF;
	margin-bottom:10px;
	width:100%;
}

.btn-facebook:hover{
	color:#eee;
	background:#205081;
}

.glyphicon-bed:before {
  content: "\e219";
}


.btn-facebook span{float:left;position:relative;top:3px;}

/*empresa*/
.trophy{
	position:absolute;
	right:78px;
	top:6px;
	background:#F05A23;
	border-radius: 50%;
	width:30px;
	height:30px;
	display: block;
	text-align:center;
}
.trophy i{
	color: #fff;
    font-size: 20px;
    padding-top: 6px;
}

.empresa li span.nombre{
	display: block;
    float: left;
    max-width: 60%;
}
.nav li.destacado a,.nav li.destacado a:focus,.nav li.destacado a:hover{
	background-color:#FBEFEC!important;
}
.empresa #logo-empresa{
	max-height:45px;
	float:left;
}
.empresa .empresa-info{float:left;margin-left:10px;}
.empresa .empresa-info h2{margin-top:0px;margin-bottom:0px;font-size:18px;line-height:18px;}
.empresa .empresa-top{padding-bottom:10px;}
.empresa .empresa-info .categoria{font-size:13px;line-height:13px;color:#29ABE1;text-decoration:underline;}
.empresa p{margin:4px}
.empresa-menu.nav li{
	background:#5B008A;
	position:relative;
}
.empresa-menu.nav li .badge{
	top: 10px;
	right:15px;
	position:absolute;
}
.empresa-menu.nav li a{
	color:#FFF;
	margin-top:5px;
	font-weight:700;
}
.empresa-menu.nav li a:hover,.empresa-menu.nav li a:focus{
	background:#5B008A;
}
.empresa-menu.nav li ul{
	padding-left:0px;
	list-style:none;
	background-color:#FFF;
	padding-top:5px;
}
.empresa-menu.nav li ul li {background-color:#FFF;}
.empresa-menu.nav li ul li a,.empresa-menu.nav li ul li a:hover,.empresa-menu.nav li ul li a:focus{
	background-color:#FFF;
	color:#333;
	width:100%;
	padding:10px 15px;
	display:block;
	margin-top:0px;
	border-bottom:2px solid #eee;
}
.empresa-menu .caret,.empresa-menu .dropdown.open .caret{
	margin-right:10px;
	float:left;
	margin-top:8px;
	transform:rotate(0deg);
}

.empresa-menu .collapsed .caret,.empresa-menu .dropdown .caret{
	transform:rotate(-90deg);
	transition:all 0.3s ease-in-out;
}


.empresa-menu.nav li ul.dropdown-menu{
	position:relative;
	float:none;
	box-shadow:none;
	border:0;
	border-bottom:2px solid #eee;
	padding:0;
	margin-top:0px;
}


.empresa-menu.nav li ul.dropdown-menu li{
	background-color:#FBEFEC;
}

.empresa .promo{
	padding:10px 10px 20px 10px;
}

.empresa .codigo{
	font-size:10px;
	width:100%;
	margin-bottom:10px;
	display:block;
}

.empresa .promo .img{
	color: #fbefec;
    height: 100px;
    width: 100px;
	background-color:#FFFFFF;
	padding: 8px 10px;
	text-align:center;
	float:left;
}

.empresa .promo .txt{
	float: left;
    font-size: 12px;
    margin-left: 10px;
    width: 65%;
}

.empresa .promo .data{
	clear: both;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.empresa .promo .data p{
	margin:5px 0px;
}

.empresa form label{
	color:#29ABE1;
}

.empresa .promo .img span{
	font-size: 85px;
}

.empresa-menu .counter{
	background:#FFF;
	color:#5B008A;
}

#btn-suscribirme{
	margin-top:15px;
	font-size:20px;
	font-weight:700;
}

#btn-canjear{
	background:#F05A23;
	margin-top:15px;
	font-size:20px;
	font-weight:700;
	color:#FFFFFF;
}

/*media queries¨*/

@media(max-width:767px){
	footer{display:none;border:none;}
	.login#logo-container h1{font-size:46px}
	#btn-canjear{width:100%;}
}
@media(min-width:768px){

}
@media(min-width:992px){}
@media(min-width:1200px){}

