{% load account %}{% load i18n %}{% autoescape off %}
<div>
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-5291756728130309467bodyTable">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-5291756728130309467bodyCell">
                        <span style="color:#ffffff;display:none;font-size:0px;height:0px;width:0px">Thank you for joining MyPoints, {{email}}! Here are some tips to get you started.</span>

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td align="center" bgcolor="#5B008A" valign="top" id="m_-5291756728130309467templateHeader" style="background-color:#5B008A;padding-right:30px;padding-left:30px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:400px" class="m_-5291756728130309467emailContainer">
                                        <tbody><tr>
                                            <td align="center" valign="top" id="m_-5291756728130309467logoContainer" style="padding-top:40px;padding-bottom:20px">
                                                <img alt="MyPoints" src="cid:logo.png" height="63" width="60" style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;letter-spacing:-1px;padding:0;margin:0;text-align:center">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:10px">
                                                <h1 style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:30px;font-style:normal;font-weight:600;line-height:42px;letter-spacing:normal;margin:0;padding:0;text-align:center">Welcome to MyPoints!</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:40px">
                                                <p style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:center"> ¡Bienvenido a Mis Puntos! Gracias por unirte a nosotros {{email}}.</p>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#5B008A" valign="top" id="m_-5291756728130309467headerContainer" style="background-color:#5B008A;padding-right:30px;padding-left:30px">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td align="center" valign="top">

                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px" class="m_-5291756728130309467emailContainer">
                                                    <tbody><tr>
                                                        <td align="center" valign="top">
                                                            <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-5291756728130309467headerTable" style="background-color:#ffffff;border-collapse:separate;border-top-left-radius:4px;border-top-right-radius:4px">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" width="100%" style="padding-top:40px;padding-bottom:0">&nbsp;</td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-5291756728130309467templateBody">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td align="center" valign="top">

                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:700px" class="m_-5291756728130309467emailContainer">
                                                    <tbody><tr>
                                                        <td align="right" valign="top" width="30" class="m_-5291756728130309467mobileHide">
                                                            <img src="https://ci4.googleusercontent.com/proxy/L5tUh1OMjnXZ7pML9wTqD_Lpb0aqOQtEIxQdlBZbzz44clEn-1MlZdakDu17kOGBQjhw0qROA1em_M8TlKw1efwKeQyVgVfiWnCSel6n2HkLGJvN_NbbMg=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/tr_email/arrow.jpg" width="30" style="display:block" class="CToWUd">
                                                        </td>
                                                        <td valign="top" width="100%" style="padding-right:70px;padding-left:40px" id="m_-5291756728130309467bodyContainer">
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody><tr>
                                                                    <td align="left" valign="top" id="m_-5291756728130309467bodyContent">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Learn" src="https://ci3.googleusercontent.com/proxy/r0UiJqYb2PWQ2cur-emdeo7yDOuyr88PhbjhLlCXdXP05xtfsEAAZe56B8XGXHNg053JRzZXdNSPF97FGYEiwBOOzUFKmLOM4CybNgPpRJXZbykIgA=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/bulby.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Ver las empresas registradas</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Learn" src="https://ci3.googleusercontent.com/proxy/r0UiJqYb2PWQ2cur-emdeo7yDOuyr88PhbjhLlCXdXP05xtfsEAAZe56B8XGXHNg053JRzZXdNSPF97FGYEiwBOOzUFKmLOM4CybNgPpRJXZbykIgA=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/bulby.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Ver los premios y descuentos</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Learn" src="https://ci3.googleusercontent.com/proxy/r0UiJqYb2PWQ2cur-emdeo7yDOuyr88PhbjhLlCXdXP05xtfsEAAZe56B8XGXHNg053JRzZXdNSPF97FGYEiwBOOzUFKmLOM4CybNgPpRJXZbykIgA=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/bulby.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Seguir tus empresas favoritas</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Learn" src="https://ci3.googleusercontent.com/proxy/r0UiJqYb2PWQ2cur-emdeo7yDOuyr88PhbjhLlCXdXP05xtfsEAAZe56B8XGXHNg053JRzZXdNSPF97FGYEiwBOOzUFKmLOM4CybNgPpRJXZbykIgA=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/bulby.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Ver tus puntos acumulados con tus compras</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Learn" src="https://ci3.googleusercontent.com/proxy/r0UiJqYb2PWQ2cur-emdeo7yDOuyr88PhbjhLlCXdXP05xtfsEAAZe56B8XGXHNg053JRzZXdNSPF97FGYEiwBOOzUFKmLOM4CybNgPpRJXZbykIgA=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/bulby.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Canjear tus puntos</p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding-bottom:60px" valign="top">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody><tr>
                                                                                <td align="center" valign="middle">

                                                                                    <a href="http://www.mypoints.com.ar/mobileapp/" style="background-color:#5B008A;border-collapse:separate;border-top:20px solid #5B008A;border-right:40px solid #5B008A;border-bottom:20px solid #5B008A;border-left:40px solid #5B008A;border-radius:3px;color:#ffffff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:600;letter-spacing:.3px;text-decoration:none" target="_blank" >Empezar</a>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-5291756728130309467templateFooter" style="padding-right:30px;padding-left:30px">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px" class="m_-5291756728130309467emailContainer">
                                        <tbody>
                                        <tr>
                                            <td valign="top" id="m_-4722775725788750724footerContent" style="border-top:2px solid #f2f2f2;color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding-top:40px;padding-bottom:20px;text-align:center">
                                                <p style="color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:center">© 2001-2017 MyPoints<sup>®</sup>, All Rights Reserved.<br>Mar del Plata, Argentina. Tierra de los mejores Alfajores</p>
                                                <a href="http://www.mypoints.com.ar" style="color:#373737;text-decoration:underline" class="m_-4722775725788750724utilityLink" target="_blank" >Terms of Use</a><span class="m_-4722775725788750724mobileHide"> &nbsp; • &nbsp; </span><a href="">Privacy Policy</a>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
            </tbody></table>
        </center>
    </div>
{% endautoescape %}